<div class="tableContainer">


  <mat-table class="customerTable" [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="$$hashKey">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by hashkey">
        <span>Hashkey</span>

        <mat-form-field>
          <!-- <input matInput formControlName="hashKeyControl" (keyup)="applyFilter($any($event.target).value)"
            placeholder="Filter">
             -->
          <input matInput placeholder="Enter Hashkey" [(ngModel)]="searchValue">
          <button mat-button (click)="applyFilter()">search</button>
        </mat-form-field>

      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.$$hashKey}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="CustColour">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by CustColour">
        Cust Color.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.CustColour}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bacsAsk">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by bacsAsk">
        Bacs Ask.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bacsAsk}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="checkBacs">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by checkBacs">
        checkBacs.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.checkBacs}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cusPayID">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cusPayID">
        cusPayID.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cusPayID}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="custVatCode">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by custVatCode">
        custVatCode.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.custVatCode}} </mat-cell>
    </ng-container> -->

    <!-- <ng-container matColumnDef="custVatName">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by custVatName">
        custVatName.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.custVatName}} </mat-cell>
    </ng-container> -->

    <!-- <ng-container matColumnDef="custVatRate">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by custVatRate">
        custVatRate.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.custVatRate}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="custcolourNum">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by custcolourNum">
        custcolourNum.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.custcolourNum}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customernumber">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by customernumber">
        customernumber.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.customernumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
        email.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstcontact">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstcontact">
        firstcontact.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstcontact}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullname">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fullname">
        fullname.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fullname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="icountry">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by icountry">
        icountry.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.icountry}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="inccustk">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by inccustk">
        inccustk.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.inccustk}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="inccustt">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by inccustt">
        inccustt.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.inccustt}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="inccustu">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by inccustu">
        inccustu.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.inccustu}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invFiveLineAddress">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by invFiveLineAddress">
        invFiveLineAddress.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invFiveLineAddress}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invFourLineAddress">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by invFourLineAddress">
        invFourLineAddress.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invFourLineAddress}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invSevenLineAddress">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by invSevenLineAddress">
        invSevenLineAddress.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invSevenLineAddress}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invSixLineAddress">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by invSixLineAddress">
        invSixLineAddress.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invSixLineAddress}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invThreeLineAddress">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by invThreeLineAddress">
        invThreeLineAddress.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invThreeLineAddress}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="invTwoLineAddress">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by invTwoLineAddress">
        invTwoLineAddress.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.invTwoLineAddress}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isactive">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by isactive">
        isactive.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isactive}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paymentType">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by paymentType">
        paymentType.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.paymentType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone">
        phone.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="runBacs">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by runBacs">
        runBacs.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.runBacs}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="sitename">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sitename">
        sitename.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sitename}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="startupDate">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by startupDate">
        startupDate.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.startupDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="taxLabel">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by taxLabel">
        taxLabel.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.taxLabel}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="theApsName">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by theApsName">
        theApsName.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.theApsName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="theCustId">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by theCustId">
        theCustId.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.theCustId}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="theMainAddress">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by theMainAddress">
        theMainAddress.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.theMainAddress}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="theSiteId">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by theSiteId">
        theSiteId.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.theSiteId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="theStatus">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by theStatus">
        theStatus.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.theStatus}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unitlist">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by unitlist">
        unitlist.
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.unitlist}} </mat-cell>
    </ng-container>


    <!-- 
 
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

   
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
        Weight
      </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        Symbol
      </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></mat-row>
  </mat-table>


</div>