.mat-card {
  margin: 20px;
  width: 700px;
  .detailsContainer {
    li {
      label {
        font-weight: bold;
      }
      span {
        margin: 0 10px;
      }
    }
  }
}

.tableContainer {
  display: flex;
  margin: 20px;

  .mat-table {
    .mat-row:hover {
      cursor: pointer;
    }
    .mat-header-cell {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      min-width: 100px;

      ::ng-deep .mat-sort-header-content {
        flex-direction: column;
      }
    }
    .mat-form-field {
      display: flex;
      max-width: 100%;
      border: 1px solid grey;
      padding: 0 5px;

      ::ng-deep .mat-form-field-infix,
      ::ng-deep .mat-form-field-wrapper {
        display: flex;
        max-width: 100%;
      }
      ::ng-deep .mat-form-field-infix {
        width: unset;
      }
    }
    .mat-column-email,
    .mat-column-firstcontact,
    .mat-column-fullname,
    .mat-column-invFiveLineAddress,
    .mat-column-invFourLineAddress,
    .mat-column-invSevenLineAddress,
    .mat-column-invSixLineAddress,
    .mat-column-invThreeLineAddress,
    .mat-column-invTwoLineAddress,
    .mat-column-phone,
    .mat-column-theApsName,
    .mat-column-theCustId,
    .mat-column-theMainAddress,
    .mat-column-theSiteId {
      min-width: 200px;
    }
  }
}
